.auto-filter{
    position: relative;
    width: 200px;
}

.dropdown-search{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown-filtered-data{
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.list-item{
    background-color: #f0f0f0;
}

strong{
    font-weight: bold;
}